/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #4dbec0;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.wrapper {
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  padding-top: 3%;
}
.row{
  margin-right: auto;
  margin-left: auto;
}
.content-main{
  margin-top: 8%;
}

.social-media{
  margin-top: 2%;
}
.icon-social-media{
  text-align: center;
}
/*
 * Header
 */

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

/*
 * Footer
 */


.footer {
  position: absolute;
  bottom: 0;
  width: 94%;
  /* Set the fixed height of the footer here */
  height: 60px;
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}
.container-hs .text-center {
}

/* Responsive: Portrait tablets and up */
@media (min-width: 768px) {
    .row, .footer{
    max-width: 700px;

  }
  .masthead-head{
    float: left;
  }
  .masthead-nav{
    float: right;
  }
}